<h1> <%= "#{@recipe.name} ingredients" %> </h1>


<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
         <th>Ingredient</th>
         <th>Amount</th>
         <th>Unit</th>
         <th>Edit</th>
         <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredient_for_recipe.each do |item| %>
       <tr>
        <td><%= item.ingredient.name %></td>
        <td><%= item.amount %></td>
        <td><%= item.unit.name %></td>
        <td><%= link_to "Edit", edit_recipe_ingredient_for_recipe_path(@recipe, item)%></td>
        <td><%= link_to "Delete", [@recipe, item], method: :delete %></td>
       </tr>
      <% end %>
      </tbody>
  </table>
</div>
<%= link_to "Add more ingredients", new_recipe_ingredient_for_recipe_path(@recipe), class: "btn btn-default" %>
