<div class = "container">
  <div class = "row">
    <div class = "col-sm-8">
      <ul class = "list-unstyled recipe-list">
        <% @recipe.each do |recipe| %>
          <li class = "recipe">
            <div class = "col-sm-3">
              <%= image_tag recipe.picture.url(:thumb) %>
            </div>
            <div class = "col-sm-9">
              <h4><%= link_to recipe.name, recipe %></h4>
              <div>
                <p><%= recipe.description %></p>
              </div>
              <p class="text-muted">Posted by <%= recipe.user.email %> </p>
              <div>
                <% recipe.tags.each do |tag| %>
                  <%= link_to tag.name, recipes_path(:tag => tag.name), class: 'label label-primary' %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class = "col-sm-4">
      <h2>Tags:</h2>
      <ul class = "list-unstyled">
        <% @tags.all.each do |tag| %>
          <li>
            <%= link_to tag.name, recipes_path(:tag => tag.name), class: 'label label-primary'  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

