<p>
  <strong>Recipe name: </strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Servings: </strong>
  <%= @recipe.servings %>
</p>

<p>
  <strong>Vegan will be happy: </strong>
  <%= @recipe.vegan %>
</p>

<p>
  <strong>Directions: </strong>
  <%= @recipe.directions %>
</p>

<%= link_to "Add Ingredients", new_recipe_ingredient_for_recipe_path(@recipe) %>



