<p>
  <strong>Recipe name: </strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Ingredients: </strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Servings: </strong>
  <%= @recipe.servings %>
</p>

<p>
  <strong>Vegan will be happy: </strong>
  <%= @recipe.vegan %>
</p>

<p>
  <strong>Directions: </strong>
  <%= @recipe.directions %>
</p>



